<! DOCKTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>QApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
<h2>Add Question</h2>
<form th:object="${question}" th:action="@{../savequestion}" action="#" method="post">
<label for="questionBody">Question Body</label>
<input type="text" id="questionBody" th:field="*{questionBody}" class="form-control"/>
<div style="clear: both; display: block; height: 10px;"></div>
<input type="hidden" th:field="*{survey.surveyId}" />

<div style="clear: both; display: block; height: 10px;"></div>
<input type="submit" class="btn-primary" value="Save"></input>
</form>
</div>
</body>
</html>