<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 

<head>
	<title>QApp</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->

</head>
<br>
<br>
<body>
    
    <style>
body {

	background-image:
		url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
</style>
<div class="d-flex justify-content-center">

		

			<div class="jumbotron">
			
			<h1>Welcome to QApp!</h1>
			<h2>Choose between back and front</h2>
			<p>&nbsp;<a href="http://talpa-qapp-front.herokuapp.com/" class="btn btn-light">Front</a></p>
			<p>&nbsp;<a href="http://talpa-qapp.herokuapp.com/surveylist" class="btn btn-dark">Back</a></p>
			

	
</div>
</div>

</body>
</html>