<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 

<head>
	<title>QApp</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->

</head>
<body>
    <div><h1>Questions</h1></div>

<table>
	
	<tr>
	<th>ID</th>
	<th>Header</th>
	<th></th>
	</tr>
	
	<!-- lists all questions from one survey-->
	<tr th:each="question : ${ questions }">
	<td th:text="${ question.getQuestionId() }">ID</td>
	<td th:text="${ question.getQuestionBody() }">Header</td>
	
	<table>
		<!-- lists all answeroptions of the question -->
		<tr th:each="answeroption : ${ question.answerOptions }">
		<td>&nbsp;&nbsp;&#8226;<td th:text="${ answeroption.answerOptionBody }">Header</td></td>
		</tr>	
	</table>
	
	<!-- hides the added answeroption-button if questiontype is textfield-->
	<a th:if="${question.questionType.questionTypeBody != 'textfield'}" th:href="@{/addansweroption/{id}(id=${question.questionId})}" class="btn btn-success">Add Answer Option</a>
	
	<a th:href="@{/editquestion/{id}(id=${question.questionId})}" class="btn btn-warning">Edit Question</a>
	<a th:href="@{/deletequestion/{id}(id=${question.questionId})}" class="btn btn-danger">Delete Question</a>
	<p></p>
	</tr>
	
</table>

<p>&nbsp;<a th:href="@{/addquestion/{id}(id=${survey.surveyId})}" class="btn btn-success">Add Question</a></p>
<p>&nbsp;<a href="/surveylist" class="btn btn-warning">Return</a></p>

</body>
</html>