<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 

<head>
	<title>QApp</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->

</head>
<br>
<br>
<body>
  <style>
body {

	background-image:
		url(https://images.unsplash.com/photo-1579389083123-53a622ebaec2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
</style>
<div class="d-flex justify-content-center">
<div class="jumbotron">
	<div><h1 th:text="${survey.surveyHeader}"></h1></div>
    <div><h3>Questions</h3></div>
<br>

	
	<tr>
	<!-- <th>ID</th> -->
	<th></th>
	<th></th>
	</tr>
	
	<!-- lists all questions from one survey-->
	<tr th:each="question : ${ questions }">
	<!-- <td th:text="${ question.getQuestionId() }">ID</td> -->
	<h4>
	<td th:text="${ question.getQuestionBody() }">Header</td>
	</h4>
	<table>
		<!-- lists all answeroptions of the question -->
		<a th:href="@{/statistics/{id}(id=${question.questionId})}" class="btn btn-outline-dark">Stats</a>
		<a th:href="@{/editquestion/{id}(id=${question.questionId})}" class="btn btn-light">Edit Question</a>&nbsp;
	<a th:href="@{/deletequestion/{id}(id=${question.questionId})}" class="btn btn-dark">Delete Question</a>
	<p>&nbsp;</p>
		<tr th:each="answeroption : ${ question.answerOptions }">
	
		<td>&nbsp;&nbsp;&#8226;<td th:text="${ answeroption.answerOptionBody }">Header</td></td>
			
		
		<td>
		&nbsp;&nbsp;
		<a th:href="@{/editansweroption/{id}(id=${answeroption.answerOptionId})}" class="btn btn-light">Edit</a>
		<a th:href="@{/deleteansweroption/{id}(id=${answeroption.answerOptionId})}" class="btn btn-outline-dark">Delete</a>
		</td>
		</tr>	
	</table>
	
	<!-- hides the added answeroption-button if questiontype is textfield-->
	<br>
	<a th:if="${question.questionType.questionTypeBody != 'textfield'}" th:href="@{/addansweroption/{id}(id=${question.questionId})}" class="btn btn-outline-success">Add Answer Option</a>
	<p>&nbsp;</p>
	
	<p></p>
	</tr>
	


<p>&nbsp;<a th:href="@{/addquestion/{id}(id=${survey.surveyId})}" class="btn btn-success">Add Question</a></p>
<p>&nbsp;<a href="/surveylist" class="btn btn-secondary">Return</a></p>
</div>
</div>
</body>
</html>