<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>
	<h1>Question By Id</h1>
	GET /surveys/{surveyId} <a href="surveys/1"> /survey/1</a>
	<p>Examples:</p>
	<p>
{"surveyId":1,
<br>&nbsp;"surveyHeader":"Harry Potter- survey",
<br>&nbsp; &nbsp;"questions":<br>[<br>&nbsp;{<br> &nbsp;"questionId":2,
<br>&nbsp;  "questionBody":"What is your favourite Patronus?"<br>&nbsp;},
<br>&nbsp; {<br>&nbsp;"questionId":3,<br>&nbsp;"questionBody":"What is your favourite charm?"
<br>&nbsp; &nbsp;}
<br>&nbsp;]
<br>}

	</p>

</body>
</html>