<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>QApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>

	<h1>REST Home Page</h1><br>
	
<div class="container">
	<h2>All Surveys</h2>
	Method: GET Endpoint: <a href="/surveys">/surveys</a><br>
	<p>JSON Example:</p>
	<p>
	{<br>"surveyId": 1,
	<br>"surveyHeader": "Harry Potter- survey",
	<br>"questions": [
	<br>&nbsp;&nbsp;&nbsp;&nbsp;{
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionId": 2,
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionBody": "What is your favourite Patronus?",
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"answers": [
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
	<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"answerId": 3,
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"answerBody": "The Stag"
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]
	<br>},
	<br>{
	<br>"surveyId": 8,
	<br>"surveyHeader":"LOTR-survey",
	<br>"questions": [
	<br>&nbsp;&nbsp;&nbsp;&nbsp;{
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionId": 9,
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionBody": "What is your favourite character?",
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"answers": []
	<br>}
	</p>
	
	<h2>Survey By Id</h2>
	GET /surveys/{surveyId} <a href="surveys/1"> /surveys/1</a>
	<p>JSON Example:</p>
	<p>
	{<br>"surveyId":1,
	<br>"surveyHeader":"Harry Potter- survey",
	<br>"questions": [
	<br>&nbsp;&nbsp;&nbsp;&nbsp;{
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionId":2,
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionBody":"What is your favourite Patronus?",
	<br>&nbsp;&nbsp;&nbsp;&nbsp;},
	<br>&nbsp;&nbsp;&nbsp;&nbsp;{
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionId":3,
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionBody":"What is your favourite charm?"
	<br>&nbsp;&nbsp;&nbsp;&nbsp;}
	<br>&nbsp;]
	<br>}
	</p>

	<h2>New Answer</h2>
	POST /answers/{id} (Test with <a href="https://www.postman.com/">PostMan</a>/etc.)
	<p>JSON Example:</p>
	<p>
	{<br>&nbsp;&nbsp;&nbsp;&nbsp;"answerBody": "The Mouse3"
	<br>}​​​​
	</p>
	
	<h2>New Answer with Question Id</h2>
	POST /saveanswer (Test with <a href="https://www.postman.com/">PostMan</a>/etc.)
	<p>JSON Example:</p>
	<p>
	{<br>&nbsp;&nbsp;&nbsp;&nbsp;"answerBody": "The Mouse3"
	<br>&nbsp;&nbsp;&nbsp;&nbsp;"question": { 
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"questionId": 2
	<br>&nbsp;&nbsp;&nbsp;&nbsp;}​​
	<br>}
	</p>

</div>
<br>
<br>
</body>
</html>