<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">
<head>
	<title>QApp</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->

</head>
<body>
    <div><h1>Surveys</h1></div>

<table>
	<tr>
	<th>ID</th>
	<th>Header</th>
	<th></th>
	</tr>
	<tr th:each="survey : ${ surveys }">
	<td th:text="${ survey.getSurveyId() }">ID</td>
	<td th:text="${ survey.getSurveyHeader() }">Header</td>
	<td><a th:href="@{/surveys/{id}(id=${survey.surveyId})}" class="btn btn-primary">View</a></td>
	<td><p><a th:href="@{/addquestion/{id}(id=${survey.surveyId})}" class="btn btn-success">Add Question</a></p></td>
	</tr>
</table>
<p><a href="/addsurvey" class="btn btn-success">Add Survey</a></p>
</body>
</html>