<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 

<head>
	<title>QApp</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->

</head>
<body>
    <div><h1>Surveys</h1></div>

<table>
	<tr>
	<th>ID</th>
	<th>Header</th>
	<th></th>
	</tr>
	<!-- lists all surveys in the app-->
	<tr th:each="survey : ${ surveys }">
	<td th:text="${ survey.getSurveyId() }">ID</td>
	<td th:text="${ survey.getSurveyHeader() }">Header</td>
	
	<td>&nbsp;<a th:href="@{/questionlist/{id}(id=${survey.surveyId})}" class="btn btn-warning">Questions</a></td>
	<td> &nbsp;<a th:href="@{/editsurvey/{id}(id=${survey.surveyId})}" class="btn btn-success">Edit</a></td>
	<td> &nbsp;<a th:href="@{/deletesurvey/{id}(id=${survey.surveyId})}" class="btn btn-danger">Delete</a></td>
	<td> &nbsp;<a th:href="@{/surveys/{id}(id=${survey.surveyId})}" class="btn btn-primary">JSON</a></td>
	</tr>
</table>
<p>&nbsp;<a href="/addsurvey" class="btn btn-warning">Add Survey</a></p>
</body>
</html>